[alias]
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr) %C(bold magenta)<%an>%Creset' --abbrev-commit
	gr = log --graph --all --oneline --decorate
[user]
        name = estshorter
        email = 1430311+estshorter@users.noreply.github.com
[pull]
        rebase = false
